<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/styles/index.css}">
    <link rel="stylesheet" th:href="@{/styles/contacts.css}">
    <link rel="icon" th:href="@{/images/icon.png}">
    <title>Новости - Сайт о кино</title>
</head>
<body>

<div class="wrapper">
    <th:block th:insert="~{index :: header}"></th:block>

    <main>
        <section class="latest-updates">
            <a th:href="@{/news/create}" class="button_link">Добавить новость</a>
            <div class="news">
                <article th:each="singleNews : ${news}">
                    <h2 th:text="${singleNews.getTitle()}"></h2>
                    <img th:src="@{/images/{image} (image=${singleNews.getImageFileName()})}" alt="Изображение">
                    <p th:text="${singleNews.getDescription()}"></p>
                    <a th:href="@{/news/{id} (id=${singleNews.getId()})}">Подробнее</a>
                    <form method="post" th:action="@{/news/delete/{id} (id=${singleNews.getId()})}">
                        <input type="submit" value="Удалить">
                    </form>
                </article>
            </div>
        </section>
    </main>

    <th:block th:insert="~{index :: footer}"></th:block>
</div>
</body>
</html>